<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music sharing helper</title>
    <meta name="description" content="Share your favorite songs accross streaming services!">
    <meta property="og:title" content="Share helper">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col">
                <h1>Share Helper</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for track in tracks %}
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4 d-flex align-items-center align-content-center">
                            <img src="{{ track.source.logo }}.png"" class="img-fluid rounded-start" alt="{{ track.source.name }}" style="padding: 2em;">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ track.source.name }}</h5>
                                <p class="card-text"><b>Title: </b>{{ track.name }}</p>
                                <p class="card-text"><b>Artist: </b>{{ track.artist }}</p>
                                <p class="card-text"><small class="text-muted"><b>Album: </b>{{ track.album }}</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col d-flex" style="margin-left: 1em;margin-right: 1em;">
                            <a class="btn btn-primary mb-3 w-100" href="{{ track.url }}">Open</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for error in errors %}
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4 d-flex align-items-center align-content-center">
                            <img src="{{ error.source.logo }}.png"" class="img-fluid rounded-start" alt="{{ error.source.name }}" style="padding: 2em;">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ Error }}</h5>
                                <p class="card-text"><b>Reason: </b>{{ error.message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>